<%= turbo_frame_tag "bank_billets_menu", class:"flex flex-row self-center w-4/5" do %>
  <div class="flex flex-col border rounded  bg-gray-100 shadow-sm w-full self-center justify-center p-3 space-y-5 mb-2">
    <div class="">Criar novo boleto</div>

    <%= form_with(model: @bank_slip, url: bank_billets_path, method: :post, class: '') do |form| %>
      <div class="flex flex-row w-2/4">
        <div class="flex flex-col">
          <%= form.label :amount, class: "text-sm text-gray-600 mb-1" %>
          <%= form.text_field :amount, class: "p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 w-2/4 h-10" %>
        </div>
      </div>
      <%= form.submit "Criar Boleto" %>
    <% end %>
  </div>
<% end %>



