<!DOCTYPE html>
<html>
  <head>
    <title>Gerador de Boletos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-200 text-gray-600 ">
    <div class="flex flex-row w-full border bg-white p-3 shadow-sm font-bold">
      <%= link_to "Gerador de boletos", root_path %>
    </div>
    <main class=" container mx-auto mt-8 px-5 flex flex-col">
      <%= yield %>
    </main>
  </body>
</html>
